/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
label,
select,
button,
textarea {
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus, textarea:focus, button:focus {
	outline:0;
}

/******************************************/

/* Overall */
* {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: 'Jost', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #212121;
}

a {
  -moz-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  color: #3f703f;
  font-weight: 900;
}

a:hover {
  color: #8fa88f;
}

#body-container {
  -moz-transition: margin-left 2s ease;
  -webkit-transition: margin-left 2s ease;
  -ms-transition: margin-left 2s ease;
  transition: margin-left 2s ease;
  width: 80vw;
  margin-top: 0;
  margin-bottom: 0;
  margin: auto;
  display: -moz-flex;
  display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.title {
  font-size: 60px;
  font-weight: 700;
  position: relative;
  display: -moz-flex;
  display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 3%;
  margin-top: 5%;
}

.connect::before {
  margin: auto;
  content: "";
  display: block;
  height: 1px;
  background-color: rgb(128, 128, 128);
  position: relative;
  width: 90%;
  top: -100px;
}

.connect {
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 3%;
  margin-top: 4%;
}

.bold {
  color: #3f703f;
  font-weight: 700;
}

#side-links {
  opacity: 1.0;
  -moz-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  font-size: 40px;
  display: -moz-flex;
  display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

/* Nav */

#nav-btn {
  color: #616d55;
  -moz-transition: opacity 1.5s ease-in-out;
  -webkit-transition: opacity 1.5s ease-in-out;
  -ms-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
  opacity: 0.0;
  transition: 0.5s;
  position: fixed;
  top: 3%;
  left: 2%;
  cursor: pointer;
  width: 25px;
}

#nav-btn:after, #nav-btn:before, #nav-btn div {
  background-color: #616d55;
  border-radius: 3px;
  content: '';
  display: block;
  height: 4px;
  margin: 5px 0;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

#close-nav-btn {
  color: #616d55;
  -moz-transition: opacity 1.5s ease-in-out;
  -webkit-transition: opacity 1.5s ease-in-out;
  -ms-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
  opacity: 1.0;
  transition: 0.5s;
  position: fixed;
  top: 3%;
  left: 2%;
  cursor: pointer;
  width: 25px;
}

#close-nav-btn:after, #close-nav-btn:before, #close-nav-btn div {
  background-color: #616d55;
  border-radius: 3px;
  content: '';
  display: block;
  height: 4px;
  margin: 5px 0;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

#close-nav-btn:hover {
  color: #e7f0df;
}

#close-nav-btn:hover:before {
  transform: translateY(9px) rotate(135deg);
}

#close-nav-btn:hover:after {
  transform: translateY(-9px) rotate(-135deg);
}

#close-nav-btn:hover div {
  transform: scale(0);
}

#nav {
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  top: 0;
  display: -moz-flex;
  display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background-color: rgb(206, 212, 204);
  transition: 1s;
  z-index: 2;
}

#nav a {
    padding: 0px 10px;
    font-size: 30px;
  }

/* Welcome */

#welcome {
  display: -moz-flex;
  display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  padding-top: 20%;
  height: 70%;
  margin-bottom: 20%;
}

#welcome-msg {
  display: -moz-flex;
  display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1vh;
}

#welcome-msg h6 {
  font-size: 25px;
  margin-bottom: 10px;
}

#welcome-msg h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 70px;
  margin-bottom: 15px;
}

#welcome-msg p {
  line-height: 150%;
}

#welcome-buttons {
  display: -moz-flex;
  display: -webkit-flex;
	display: -ms-flex;
  display: flex;
}

#welcome-msg button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  text-transform: uppercase;
  width: 14vw;
  min-width: 170px;
  margin: 2vh 1vw 2vh 0;
  border: 2px solid #949c96;
  color: #949c96;
  background-color: transparent;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 12px;
}

#welcome-msg button:hover {
  border-color: #546157;
  background-color: #546157;
  color: #f1f1f1;
  cursor: pointer;
}

#welcome-msg button:focus {
  outline: none;
}

#headshot {
  flex-shrink: 0;
  -webkit-animation: reveal 0.5s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

#headshot img {
  flex-shrink: 0;
  height: 100%;
  width: auto;
}

/* About */
#about {
  margin-bottom: 11vh;
}

.about-container {
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
}

.about-me p {
  line-height: 1.4em;
}

.lets-create {
  font-size: 25px;
}

.small-links {
  font-size: 13px;
}

.other-interests {
  font-size: 15px;
  margin-top: 7%;
  line-height: 1.4em;
}

/* Skills */

#skills, #projects {
  margin-bottom: 15%;
}

.all-skills {
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 6%;
}

.skill {
  -webkit-animation: reveal 0.5s ease-in;
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
}

.skill i {
  font-size: 100px;
  margin-bottom: 15px;
}

/* Projects */

#projects {
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#proj-container {
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

#proj-links {
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-justify-content: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-justify-content: space-evenly;
  justify-content: space-evenly;
  margin-bottom: 1%;
  margin: auto;
}

.p-link {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
  font-size: 25px;
  text-decoration: none;
  color: #405244;
  line-height: 150%;
}

.p-link:hover {
  cursor: pointer;
  border-bottom: 3px solid #405244;
}

#proj-desc-container {
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

#macbook-container {
  position: relative;
}

#macbook-container img {
  width: 100%;
}

#macbook {
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  position: absolute;
  top: 6.6%;
  left: 18.6%;
  width: 62.8%;
  height: 64.9%;
  overflow: hidden;
}


#link {
  -moz-transition: opacity 0.4s ease-in;
  -webkit-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
  font-size: 3vw;
  font-weight: 700;
  color: #f1f1f1;
  text-decoration: none;
  opacity: 0.0;
  background-color: rgba(46, 59, 46, 0.7);
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#link:hover {
  -moz-transition: opacity 0.4s ease-in;
  -webkit-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
  opacity: 1.0;
}

#proj-desc {
  margin: auto;
  text-align: center;
  padding: 40px;
  width: 65%;
}

#proj-desc button {
  border: 1px solid #070707;
  background: transparent;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 4%;
}

.tech-n-links {
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-top: 25px;
}

.i-links {
  font-size: 20px;
  margin-right: 20px;
}

.i-links a {
  padding: 0px 3px;
}

.technologies {
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.technologies h6 {
  font-size: 15px;
  padding: 0px 15px;
  color: #949c96;
}

@-webkit-keyframes reveal {
  0% { opacity: 0%; }
  50% { opacity: 0.5%; }
  100% { opacity: 1; }
}

@keyframes reveal {
  0% { opacity: 0%; }
  50% { opacity: 0.5%; }
  100% { opacity: 1; }
}

#macbook img {
  -webkit-animation: reveal 0.3s ease-in;
  height: 100%;
  width: auto;
}

.active {
  -moz-transition: font-size 0.3s ease, border-color 0.3s ease-in-out;
  -webkit-transition: font-size 0.3s ease, border-color 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease, border-color 0.3s ease-in-out;
  transition: font-size 0.3s ease, border-color 0.3s ease-in-out;
  font-size: 27px;
  font-weight: 800;
  border-bottom: 3px solid #405244;
}

/* Contact */

#contact {
text-align: center;
}

#contact a {
  font-size: 30px;
  padding: 5px;
}

#contact-form {
  margin: auto;
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 4% auto 10% auto;
  text-align: left;
}

#contact-form label {
  font-family: 'Jost', Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 7%;
}

#contact-form input, textarea {
  background-color: #eeeeee;
  border: 1px solid #afafaf;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 15px;
  width: 100%;
  margin-top: 2%;
}

#contact-form button {
  -moz-transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: #212121;
  color: #f1f1f1;
  text-transform: uppercase;
  padding: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
}

#contact-form button:hover {
  cursor: pointer;
  background-color: #3d3d3d;
}

/* DYNAMIC */
@media only screen and (max-width: 700px) {
  #nav {
    display: none;
  }

  #nav-btn {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  #welcome {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  #welcome-msg {
    width: 100%;
  }

  #headshot {
    width: 80vw;
    height: 80vw;
    margin-bottom: 10%;
  }

  #side-links {
    opacity: 1.0;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #side-links a {
    padding-right: 15px;
  }

  .title {
    padding-bottom: 15px;
  }

  .about-photo {
    display: none;
  }

  .about-me {
    width: 100%;
  }

  .about-container {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }

  .skill {
    padding: 30px 40px 30px 0px;
  }

  .all-skills {
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }

  #proj-links {
    width: 100%;
  }

  #contact-form {
    width: 100%;
  }
}

@media only screen and (min-width: 900px) {
  #welcome {
    width: 80%;
  }

  #welcome-msg {
    width: 50%;
  }

  #headshot {
    width: 300px;
    height: 300px;
    margin-right: 8%;
  }

  #side-links {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    bottom: 30px;
    right: 35px;
  }

  #side-links a {
    padding-bottom: 15px;
  }

  .title::after {
    content: "";
    display: block;
    height: 1px;
    background-color: rgb(48, 85, 63);
    position: relative;
    width: 70%;
    margin-left: 50px;
  }

  .about-photo {
    width: 50%;
    text-align: center;
  }

  .about-photo img {
    width: 70%;
    height: auto;
    border-radius: 5px;
  }

  .about-me {
    width: 50%;
  }

  .about-container {
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }

  .skill {
    padding: 30px 40px 30px 0px;
  }

  #proj-links {
    width: 50%;
  }

  #contact-form {
    width: 50%;
  }
}

@media only screen and (min-width: 700px) {
}

#shark {
  position: fixed;
  bottom: 0;
}

#all {
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.0;
}



